.smart_container {
    display: flex;
    flex-wrap: wrap;
}
.smart {
    width: 220px;
    margin: 0 100px 100px 0;
}
.smart:nth-child(5),
.smart:nth-child(9),
.smart:nth-child(13),
.smart:nth-child(17) {
    margin-right: 0;
}
.product_icon {
    display: flex;
    width: 94px;
    margin: 20px auto;
}
.product_icon>div {
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 5px;
}
.product_cart {
    margin-right: 20px;
}
.smart_text {
    text-align: center;
}
.smart_desc {
    font-size: 14px;
    color: #666;
    margin: 5px;
}