.visual_main {
    padding-top: 112px;
}
.visual_main .swiper-button-prev,
.visual_main .swiper-button-next {
    color: white;
}
.visual_main .swiper-pagination-bullet {
    padding: 3px;
    background-color: white;
    border: 1px solid #264989;
}

/*------ product -----*/
.product {
    display: flex;
    width: 1180px;
    margin: 100px auto;
}
.product_text {
    width: calc(50% - 150px);
    margin: 50px 0 0 150px;
}
.product_text>div {
    margin: 20px 0;
}
.product_title {
    font-size: 36px;
    font-weight: bold;
}
.product_sub_title {
    font-size: 24px;
    color: #264989;
}
.product_btn {
    width: 130px;
    text-align: center;
    padding: 10px;
    border: 1px solid #264989;
    box-sizing: border-box;
    color: #264989;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.product_btn:hover {
    background-color: #264989;
    color: white;
}

/*----- event -----*/
.event_container {
    display: flex;
    width: 1180px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.event {
    width: 50%;
    display: flex;
    padding: 10px 0;
}
.event img {
    width: 180px;
    margin: 0 40px;
}
.event_text {
    margin: auto 0;
}
.event_title {
    font-size: 24px;
    font-weight: bold;
}
.event_sub_title {
    font-size: 20px;
    margin: 20px 0;
}
.event_desc {
    font-size: 12px;
}

/*----- home -----*/
.home_container {
    width: 1180px;
    margin: 0 auto;
}

.home_title {
    font-size: 36px;
    margin-bottom: 50px;
}
.furnishing {
    display: flex;
    background-color: #321110;
}
.furnishing_text {
    color: white;
    margin: auto 0;
    width: calc(50% - 100px);
    margin-left: 100px;
}
.furnishing_title {
    font-size: 30px;
    font-weight: bold;
}
.furnishing_desc {
    margin: 30px 0;
}
.furnishing_btn {
    width: 130px;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.furnishing_btn:hover {
    background-color: white;
    color: #321110;
}
.furnishing_img {
    width: 50%;
}

/*----- idea -----*/
.home_sub_title {
    font-size: 24px;
    margin: 50px 0;
}
.idea_container {
    display: flex;
}
.idea {
    width: 380px;
    color: white;
}
.idea:nth-child(2) {
    margin: 0 20px;
}
.idea_title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.idea_desc {
    padding: 20px 40px;
}
.idea_img {
    overflow: hidden;
    cursor: pointer;
}
.idea img {
    transition: 0.5s;
}
.idea_img img:hover {
    transform: scale(1.1);
}