.sub_container {
    width: 1180px;
    margin: 0 auto;
    padding-top: 112px;
}
.breadcrumb {
    display: flex;
    margin: 20px 0 30px 0;
}
.breadcrumb li {
    font-size: 14px;
    margin-right: 20px;
}
.sub_title {
    font-size: 24px;
    margin-bottom: 50px;
}

.sub_tab_container {
    display: flex;
    width: 1180px;
    margin-bottom: 50px;
}
.sub_tab_container li {
    width: 130px;
    padding: 10px 0;
    border-radius: 10px;
}
.sub_tab_img {
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
}
.sub_tab_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sub_tab_title {
    text-align: center;
    margin-top: 10px;
}
.on {
    background-color: #FECA15;
}